.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#container {
  width: 50%;
  margin: auto;
  padding-top: 20%;
  /* text-align: center; */
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

#left {
  background-color: #00b9b4;
}

#right {
  background-color: #00c4c0;
}
